/* login.component.scss */
ion-content {
    --background: #f5edff; /* Light Purple */
  }
  
  ion-toolbar {
    --background: #cde7e8; /* Pink */
    --color: #ffffff;
  }
  
  ion-input {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
    --background: #5ab8f2; /* Purple */
  }
  
  .error-message {
    color: #ff0000; /* Red */
    margin-top: 16px;
  }
  
  p {
    margin-top: 16px;
  }
  
  a {
    color: #cde7e8; /* Pink */
  }
  